{% extends 'base.html' %} {% block body %}

<h1>List of Analytics Employee APIS</h1>

<ul>
  <li><a href="/gender_status">Gender Status</a></li>
  <li><a href="/department/count">Department Count</a></li>
  <li>
    <a href="/department/minmaxsalary">Department Minimum & Maximum Salary</a>
  </li>
  <li><a href="/demographic/city">Demographic Cites</a></li>
  <li><a href="/demographic/state">Demographic State</a></li>
  <li><a href="/timeoff/averagevacationtime">Vacation Time For Each Employee</a></li>
  <li><a href="/hiring/percentage_of_freshers_and_experienced">Percentage of Freshers and Experienced Employees Company Prefers</a></li>
  <li><a href="/age_preference_recruitment">Age Preference Recruitment</a></li>
  
</ul>

{% endblock %}
