{% extends 'base.html' %} {% block body %}

<center>
  <h1 style="font-family: 'Anton', sans-serif; color: #f7efe5">
    List of Analytics Employee APIS
  </h1>
</center>

<br />

<div id="accordion">
  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Gender Status
        </button>
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general distribution of all the gender
          available in the Company
          <a href="/gender_status">API link Gender Status</a>
        </p>
      </div>
    </div>
  </div>

  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="true"
          aria-controls="collapseTwo"
        >
          Department Count
        </button>
      </h5>
    </div>

    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general distribution department with
          their count
          <a href="/department/count">API link Department Count</a>
        </p>
      </div>
    </div>
  </div>

  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingthree">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsethree"
          aria-expanded="true"
          aria-controls="collapsethree"
        >
          Department Minimum & Maximum Salary
        </button>
      </h5>
    </div>

    <div
      id="collapsethree"
      class="collapse"
      aria-labelledby="headingthree"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general department's Max and Min Salary
          <a href="/department/minmaxsalary"
            >API link Department Minimum & Maximum Salary</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingfour">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsefour"
          aria-expanded="true"
          aria-controls="collapsefour"
        >
          Demographic Cites
        </button>
      </h5>
    </div>

    <div
      id="collapsefour"
      class="collapse"
      aria-labelledby="headingfour"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general distribution of employee cites
          in the Company
          <a href="/demographic/city">API link Demographic Cites</a>
        </p>
      </div>
    </div>
  </div>

  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingfive">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsefive"
          aria-expanded="true"
          aria-controls="collapsefive"
        >
          Demographic State
        </button>
      </h5>
    </div>

    <div
      id="collapsefive"
      class="collapse"
      aria-labelledby="headingfive"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general distribution of employee states
          in the Company
          <a href="/demographic/state">API link Demographic State</a>
        </p>
      </div>
    </div>
  </div>

  <div class="card" style="background: #c3acd0; color: black">
    <div class="card-header" id="headingsix">
      <h5 class="mb-0">
        <button
          style="
            font-size: xx-large;
            font-family: 'Inter', sans-serif;
            color: #f7efe5;
          "
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsesix"
          aria-expanded="true"
          aria-controls="collapsesix"
        >
          Demographic country
        </button>
      </h5>
    </div>

    <div
      id="collapsesix"
      class="collapse"
      aria-labelledby="headingsix"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          From this End-point it gives a general distribution of employee country
          in the Company
          <a href="/demographic/country">API link Demographic country</a>
        </p>
      </div>
    </div>
  </div>



</div>

{% endblock %}
